@model IEnumerable<WebBanHang.Context.Brand_0242>

@{
    ViewBag.Title = "Trash";
}

<h2 class="text-center">Thùng rác</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOnHomePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            <a href="@Url.Action("Restore", "Brand", new { id = item.Id })"
               style="display:inline-flex;align-items: center;padding:8px 12px;background:green;border-radius:5px;margin-left:4px;">
                <i class="fas fa-trash-restore" style="margin-right:5px;font-size:20px; color:white;"></i>
                <span style="color:white;">Restore</span>
            </a>
            <a href="@Url.Action("Delete", "Brand",new { id=item.Id })"
               style="display:inline-flex;align-items: center; padding:8px 12px;background:red; border-radius:5px;margin-left:4px;">
                <i class="fas fa-trash" style="margin-right:5px;color:white;font-size:20px;"></i>
                <span style="color:white;">Delete</span>
            </a>
        </td>
    </tr>
}

</table>
