@model IEnumerable<WebBanHang.Context.Brand_0242>

@{
    ViewBag.Title = "Trash";
}

<h2>Trash</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOnHomePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            <a href="@Url.Action("Restore", "Brand", new { id = item.Id })" style="display:flex;align-items:center;">
                <i class="fas fa-trash-restore" style="margin-right:2px;color:green"></i> Restore|
            </a>
            <a href="@Url.Action("Delete", "Brand",new { id=item.Id })" style="display: flex;align-items: center;">
                <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Delete
            </a>
        </td>
    </tr>
}

</table>
