<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bán hàng ASP - @ViewBag.Title</title>

    <link href="~/Content/~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->

    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>
    <!-- Bootstrap4 files-->

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/ui.css" rel="stylesheet" />
    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script src="~/Scripts/js/index.js"></script>
    <b class="screen-overlay"></b>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="/" class="brand-wrap">
                            <img class="logo" style="max-height:70px;" src="~/Content/images/logo.png">

                        </a> <!-- brand-wrap.// -->
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="#" class="search-header">
                            <div class="input-group w-100">
                                <select class="custom-select border-right" name="category_name">
                                    <option value="">All type</option>
                                    <option value="codex">Special</option>
                                    <option value="comments">Only best</option>
                                    <option value="content">Latest</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Search">

                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">

                                @if (Session["idUser"] != null)
                                {
                                    <div class="widget-header mr-3   dropdown">
                                        <a href="#" class="widget-view" data-toggle="dropdown">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>
                                                <span class="notify">3</span>
                                            </div>
                                            <small class="text"> @Session["FullName"] </small>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">

                                            @if (Session["IsAdmin"] != null && Session["IsAdmin"].Equals(true))
                                            {
                                                <a href="/Admin/Home" class="dropdown-item d-flex ">
                                                    <i class="fa fa-user mr-3"></i>
                                                    <small class=""> Trang quản trị</small>
                                                </a>
                                            }
                                            <a href="#" class="dropdown-item d-flex ">

                                                <i class="fa fa-store mr-3"></i>
                                                <small class="">Đơn hàng</small>
                                            </a>

                                            <a href="@Url.Action("Logout", "User")" class="dropdown-item d-flex  ">
                                                <i class="fas fa-sign-out-alt mr-3"></i>
                                                <small class=""> Đăng xuất </small>
                                            </a>

                                        </div>

                                    </div>

                                }
                                else
                                {
                                    <div class="widget-header mr-3">
                                        <a href="@Url.Action("Login", "User")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>

                                            </div>
                                            <small class="text"> Đăng nhập </small>
                                        </a>
                                    </div>
                                    <div class="widget-header mr-3">
                                        <a href="@Url.Action("Register", "User")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>

                                            </div>
                                            <small class="text"> Đăng ký </small>
                                        </a>
                                    </div>
                                }



                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-comment-dots"></i>
                                        <span class="notify">1</span>
                                    </div>
                                    <small class="text"> Thông báo </small>
                                </a>
                            </div>

                            <div class="widget-header">
                                <a href="/Cart/ShoppingCart" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                        @if (Session["count"] != null)
                                        {
                                            <span class="notify" id="CartCount">@Session["count"] </span>
                                        }
                                        else
                                        {
                                            <span class="notify" id="CartCount">0</span>
                                        }

                                    </div>
                                    <small class="text"> Giỏ hàng </small>
                                </a>
                            </div>
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->



        <nav class="navbar navbar-main navbar-expand-lg border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bars text-muted mr-2"></i> Trang chủ</a>
                            <!--<div class="dropdown-menu dropdown-large">
                                <nav class="row">
                                    <div class="col-6">
                                        <a href="page-index-1.html">Home page 1</a>
                                        <a href="page-index-2.html">Home page 2</a>
                                        <a href="/Category/CategoryList">All category</a>
                                        <a href="/Product/ProductListGrid">Listing list</a>
                                        <a href="/Product/ProductListLarge">Listing grid</a>
                                        <a href="page-shopping-cart.html">Shopping cart</a>
                                        <a href="page-detail-product.html">Product detail</a>
                                        <a href="page-content.html">Page content</a>
                                        <a href="page-user-login.html">Page login</a>
                                        <a href="page-user-register.html">Page register</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="page-profile-main.html">Profile main</a>
                                        <a href="page-profile-orders.html">Profile orders</a>
                                        <a href="page-profile-seller.html">Profile seller</a>
                                        <a href="page-profile-wishlist.html">Profile wishlist</a>
                                        <a href="page-profile-setting.html">Profile setting</a>
                                        <a href="page-profile-address.html">Profile address</a>
                                        <a href="rtl-page-index-1.html">RTL home page</a>
                                        <a href="page-components.html" target="_blank">More components</a>
                                    </div>
                                </nav>--> <!--  row end .// -->
                            <!--</div>--> <!--  dropdown-menu dropdown-large end.// -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CategoryList","Category")">Danh mục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListBrand","Brand")">Thương hiệu</a>
                        </li>
                      
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Get the app</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown">English</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Russian</a>
                                <a class="dropdown-item" href="#">French</a>
                                <a class="dropdown-item" href="#">Spanish</a>
                                <a class="dropdown-item" href="#">Chinese</a>
                            </div>
                        </li>
                    </ul>
                </div> <!-- collapse .// -->
            </div> <!-- container .// -->
        </nav>

    </header>
    @RenderBody()

    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Brands</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Adidas</a></li>
                            <li> <a href="#">Puma</a></li>
                            <li> <a href="#">Reebok</a></li>
                            <li> <a href="#">Nike</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Company</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Career</a></li>
                            <li> <a href="#">Find a store</a></li>
                            <li> <a href="#">Rules and terms</a></li>
                            <li> <a href="#">Sitemap</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Help</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Contact us</a></li>
                            <li> <a href="#">Money refund</a></li>
                            <li> <a href="#">Order status</a></li>
                            <li> <a href="#">Shipping info</a></li>
                            <li> <a href="#">Open dispute</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> User Login </a></li>
                            <li> <a href="#"> User register </a></li>
                            <li> <a href="#"> Account Setting </a></li>
                            <li> <a href="#"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Social</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->

            <section class="footer-bottom text-center">

                <p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
                <p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
                <br>
            </section>
        </div><!-- //container -->
    </footer>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    @if (TempData["msg"] != null)
    {
        <script>Toast("", '@TempData["msg"]',"")</script>
    }



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
