@model IEnumerable<WebBanHang.Models.CartModel>
@{
    ViewBag.Title = "ShoppingCart";


}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="product">
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside"><img src="~/Content/images/items/@item.Product.Avatar" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="#" class="title text-dark">@item.Product.Name</a>

                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <input type="text" class="quantity" value="@item.Quantity" />
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price" data-value="@item.Product.Price">
                                                    @Convert.ToDecimal(@item.Product.Price).ToString("#,##0")

                                                </var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right">
                                            <input type="hidden" value="@item.Product.Id" class="productid" />
                                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="#" class="btn btn-light removecart"> Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p class="text-center text-danger mt-2">Không có sản phẩm trong giỏ hàng</p>
                            }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="@Url.Action("Index","Payment")" class="btn btn-primary float-md-right"> Thanh toán <i class="fa fa-chevron-right"></i> </a>
                        <a href="@Url.Action("Index","Home")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Miễn phí giao hàng từ 1-2 tuần</p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Có mã giảm giá?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Áp dụng</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div id="card-product" class="card-body ">
                        <dl class="dlist-align">
                            <dt>Giá gốc:</dt>
                            <dd class="text-right">USD 568</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Giá giảm:</dt>
                            <dd class="text-right">0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tổng cộng:</dt>
                            <dd class="text-right  h5"><strong></strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="~/Content/images/misc/payments.png" height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name border-top padding-y">
    <div class="container">
        <h6>Payment and refund policy</h6>
        <p>
            Hiện nay, nhằm tạo điều kiện cho khách hàng có sự lựa chọn đa dạng,
            Tech World đang hỗ trợ các phương thức thanh toán sau:
        </p>
        <p>
            Thanh toán khi nhận hàng (còn gọi là thanh toán COD).<br/>
            Thanh toán bằng thẻ tín dụng / ghi nợ<br />
            Thanh toán bằng thẻ ATM nội địa / Internet Banking<br />
            Thanh toán bằng ví eM<br />
            Thanh toán bằng ví Momo<br />
            Thanh toán bằng ví ZaloPay<br />
            Thanh toán bằng ví Viettel Money<br />
            Trả góp bằng thẻ tín dụng<br />
        </p>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
<!-- ========================= FOOTER ========================= -->
<script type="text/javascript">
    $(function () {

        $("body").click(function (e) {
            if (e.target.closest(".removecart")) {
                const tr = e.target.closest("tr");
                var model = {};
                //lấy id sản phẩm
                model.Id = Number(tr.querySelector(".productid").value);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Remove", "Cart")',
                    data:  JSON.stringify(model) ,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        Toast("Success", "Xóa sản phẩm thành công", "Thông báo");

                        if (@Session["count"]> 0) {
                            $('#CartCount').text(result.data);
                        }

                        tr.parentElement.removeChild(tr);
                        getTotal();

                    },
                    error: function (e) {
                        console.log(e);
                        Toast("Error",  "Lỗi khi thêm sản phẩm", "Thông báo");
                    }
                });
            }
        });
    });



</script>
<script src="~/Scripts/js/cart.js"></script>
<script>getTotal();</script>