@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebBanHang.Context.Category_0242>

@{
    ViewBag.Title = "Index";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{
    <p style="margin:20px 0 20px 20px;">
        Tìm tên danh mục sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="tìm kiếm" />
    </p>
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right:20px;">Tất cả thương hiệu</h3>
                        <p>
                            @Html.ActionLink("Thêm danh mục", "Create")
                        </p>
                        <a href="@Url.Action("Trash", "Category")" style="text-align:right;display: flex;align-items: center;">
                            <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Thùng rác
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <table class="table" id="bodyCategory">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ShowOnHomePage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DisplayOrder)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Deleted)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().isPopular)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <img src="~/Content/images/category/@item.Avatar" width="60" height="60" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Deleted)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isPopular)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Category", new { id = item.Id })" style="display:flex;align-items:center;">
                                            <i class="fas fa-edit" style="margin-right:2px;color:green"></i> Edit|
                                        </a>

                                        <a href="@Url.Action("Details", "Category", new { id = item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-info" style="margin-right:2px;"></i> Details|
                                        </a>
                                        <a href="@Url.Action("DelTrash", "Category",new { id=item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Trash
                                        </a>

                                    </td>
                                </tr>
                            }

                        </table>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                       new { page, currentFilter = ViewBag.CurrentFilter }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "bodyCategory" })
                       )
                    </div>
                    //
                    <!-- /.card-body -->
                </div>

