@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebBanHang.Context.Product_0242>


@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p style="margin:20px 0 20px 20px;">
        Tìm tên sản phẩm: @Html.TextBox("SearchString",ViewBag.CurrentFilter as string)
        <input type="submit" value="tìm kiếm" />
    </p>
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right:20px;">Tất cả sản phẩm</h3>
                        <p>
                            @Html.ActionLink("Thêm sản phẩm", "Create")
                        </p>
                        <a href="@Url.Action("Trash", "Product")" style="text-align:right;display: flex;align-items: center;">
                            <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Thùng rác
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="bodyProduct">

                        <table id="example2" class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
                                </th>
                              
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().TypeId)
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="text-center">
                                        
                                        <img  src="~/Content/images/items/@item.Avatar" width="60" height="60" style="object-fit:cover;"/>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandId)
                                    </td>
                                 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PriceDiscount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeId)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Product", new { id = item.Id })" style="display:flex;align-items:center;">
                                            <i class="fas fa-edit" style="margin-right:2px;color:green"></i> Edit|
                                        </a>
                                        <a href="@Url.Action("Details", "Product", new { id = item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-info" style="margin-right:2px;"></i> Details|
                                        </a>
                                        <a href="@Url.Action("DelTrash", "Product", new { id = item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Trash
                                        </a>

                                    </td>
                                </tr>
                            }
                        </table>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model,page => Url.Action("Index", 
                       new { page,currentFilter = ViewBag.CurrentFilter }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "bodyProduct" })
                       )
                    </div>
                    //
                    <!-- /.card-body -->
                    <a href="@Url.Action("Index","Product")">
                        Quay lại danh sách
                    </a>
                </div>


