@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebBanHang.Context.Order_0242>

@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{
    <p style="margin:20px 0 20px 20px;">
        Tìm tên đơn hàng: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="tìm kiếm" />
    </p>
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right:20px;">Tất cả đơn hàng</h3>
                        <p>
                            @Html.ActionLink("Thêm đơn hàng", "Create")
                        </p>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="bodyOrder">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedOnUtc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserId)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Order", new { id = item.Id })" style="display:flex;align-items:center;">
                                            <i class="fas fa-edit" style="margin-right:2px;color:green"></i> Edit|
                                        </a>
                                        <a href="@Url.Action("Details", "Order", new { id = item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-info" style="margin-right:2px;"></i> Details|
                                        </a>
                                        <a href="@Url.Action("Delete", "Order", new { id = item.Id })" style="display: flex;align-items: center;">
                                            <i class="fas fa-trash" style="margin-right:2px;color:red;"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        </table>

                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                       new { page, currentFilter = ViewBag.CurrentFilter }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "bodyOrder" })
                       )
                    </div>

                    <!-- /.card-body -->
                    <a style="margin-left:20px;" href="@Url.Action("Index","Order")">
                        Quay lại danh sách
                    </a>
                </div>
